@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
  color: #0072bc;
  justify-content: space-around;
}
nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  border-style: dashed;
  align-items: center;
}
nav li {
  justify-content: space-around;
}
nav a {
  margin: 0.5rem;
}
nav #nav-top {
  display: flex;
  width: 100%;
  border-style: dashed;
  border-color: rgb(255, 192, 253);
  font-size: larger;
}
nav #left {
  display: flex;
  width: 100%;
  border-style: dashed;
  border-color: red;
}
nav #right {
  display: flex;
  border-style: dashed;
  border-color: rgb(13, 228, 27);
}
nav #nav-bottom {
  text-align: start;
  font-size: larger;
  background-color: #0072bc;
  color: white;
  border: 1px solid #2196f3;
}
nav #nav-bottom div {
  margin: 1rem;
}
nav .logo {
  margin-right: auto;
}
nav button {
  height: 3rem;
  width: 5rem;
  color: #0072bc;
  font-weight: bold;
  margin-right: 0.1rem;
  /* &:last-child{
       margin-right: 2rem;
   }*/
}
nav p {
  color: black;
}
nav .ico_nav {
  width: 10%;
  height: 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover {
  background-color: white;
  color: #0072bc;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.main-page-1 {
  background-color: #0072bc;
  padding: 2rem 2rem;
  text-align: center;
  align-items: center;
}

.main-page-1 > div {
  width: 40%;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  transform: translate(-25%, -30%);
}
.main-page-1 > div p span {
  color: yellow;
  font-weight: bold;
}
.main-page-1 > div h2 {
  font-size: 42px;
  color: #ffffff;
  width: 80%;
}
.main-page-1 > div .legenda {
  color: #ffffff;
  font-size: 15px;
  transform: translate(40%, 0%);
}

.main-page-1 > div > img {
  width: 950px;
  transform: translate(-10%, 30%);
}

.yellow-button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transições suaves a mudanças de cor e texto */
}

.blue-button {
  background-color: #0072bc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.yellow-button:hover {
  background-color: #f8f675;
  color: black;
}

.blue-button:hover {
  background-color: #218fd8;
  color: white;
}

.main-page-2 {
  background-color: #ffffff;
  text-align: left;
}

.main-page-2 > div > div {
  display: inline-flex;
}

.main-page-2 > div > div > div {
  width: 30%;
  font-size: 20px;
  padding: 1rem 1rem;
}

.white-button {
  color: #060000;
  border-radius: 5px;
  padding: 10px 85px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.white-button:hover {
  background-color: #e6e4e4;
  color: #060000;
}

.main-page-3 {
  background-color: #0072bc;
  padding: 2rem 2rem;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

.main-page-3 > div {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.main-page-3 > div > button {
  border-radius: 5px;
}

.main-page-5 {
  background-color: #55aee9;
  padding: 2rem 2rem;
  text-align: center;
  color: #ffffff;
}

.main-page-5 > div {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

.main-page-5 > div > button {
  padding: 10px 55px;
  color: #ffffff;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: #55aee9;
  font-size: 20px;
}

.main-page-6 > div {
  width: 100%;
  display: inline-flex;
  text-align: center;
  font-size: 16px;
}
.main-page-6 > div p span {
  color: #0072bc;
}

.main-page-6 > div > div > div {
  width: 700px;
  text-align: left;
  padding: 1rem 1rem;
}

.main-page-6 > div > div > div > img {
  width: 100%;
}

.main-page-6 > div > div > div > div {
  width: 45%;
  display: inline-block;
}

.main-page-6 > div > div > div > div > img {
  width: 65%;
}

.main-page-6 > div > div > div > button {
  transform: translate(50%, 0%);
}

.main-page-7 {
  background-color: #2f333a;
  padding: 2rem 2rem;
  color: #ffffff;
}
.main-page-7 p span {
  color: yellow;
}

.main-page-7 > div > div {
  display: inline-flex;
  text-align: left;
  font-size: 20px;
  width: 100%;
}

.main-page-7 > div > div > div {
  width: 100%;
  padding: 1rem 1rem;
}

.main-page-7 > div > div > div > img {
  width: 920px;
}

.main-page-7 > div > div > div > button {
  padding: 15px 95px;
}

.main-page-8 {
  background-color: #ffffff;
  padding: 2rem 2rem;
  text-align: center;
  color: #000000;
}
.main-page-8 p span {
  font-weight: bold;
}

.main-page-8 > div > img {
  width: 100%;
}

.main-page-8 > div {
  width: 40%;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  padding: 2rem 2rem;
}

.main-page-8 > div > button {
  font-size: 20px;
}

.main-page-9 > div {
  display: inline-flex;
  text-align: left;
  font-size: 20px;
  padding: 2rem 2rem;
}

.main-page-9 > div > div {
  width: 30%;
  padding: 20px;
}
.main-page-9 > div > div P span {
  color: #0072bc;
  font-weight: bold;
}

.main-page-9 > div > div > img {
  width: 450px;
}

@media screen and (max-width: 768px) {
  .main-page-1 {
    padding: 0rem;
    width: 100%;
  }
  .main-page-1 > div {
    width: 90%;
    text-align: center;
    font-size: 20px;
    transform: translate(0%, 0%);
  }
  .main-page-1 > div p span {
    font-size: 20px;
    transform: translate(0%, 0%);
  }
  .main-page-1 > div h2 {
    font-size: 25px;
    width: 100%;
  }
  .main-page-1 > div .legenda {
    font-size: 15px;
    transform: translate(0%, 0%);
  }
  .main-page-1 > div > img {
    width: 100%; /* Ocupa toda a largura em telas médias */
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=style.css.map */