:root {
    --blue: #0072bb;
    --yellow: #fbeb00;
    --black: #000000;
    --white: #ffffff;
    --breakpoint-sm: 600px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xlg: 1200px;
}
//limpa formatação predefinida
* {
    border: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', 'Arial', sans-serif;
    input {
        border: 1px solid var(--black);
    }
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    background-color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: var(--var(--white));
    padding-right: 16px;
    display: none;
    cursor: pointer;

    img {
        width: 32px;
    }
}

.links {
    display: flex;
}

.links-icons {
    display: flex;
}

.logo img {
    max-width: 300px;
}

.ico-nav {
    padding-left: 24px;
  img {
    max-width: 30px;
    }  
}

.nav-left-buttons {
    display: flex;
    align-items: center;
    width: auto;
    padding: 8px 10px;
    margin-left: 24px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:focus {
        outline: #000 solid 2px;
        outline-offset: 2px;
    } 

    img {
        padding-right: 8px;
    }
}

.nav-left-buttons--donate {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);

    &:hover {
        border: 1px solid lighten($color: var(--yellow), $amount: 20);
        background-color: lighten($color: var(--yellow), $amount: 20);
    }
}

.nav-left-buttons--help {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);

    &:hover {
        border: 1px solid lighten($color: var(--blue), $amount: 20);
        background-color: lighten($color: var(--blue), $amount: 20);
    }

    img {
        color: var(--white);
    }
}


.icon-info {
    max-width: 16px;

    img {
        color: var(--white);
    }
}


.nav {
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--white);
    position: sticky;
    top: 0;
    z-index: 200;
}

.nav-content {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.nav-actions {
    display: none;
}

.dropdown:hover .dropdown-content{
    display: flex;
}

.dropdown-button {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    padding: 20px 24px;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: var(--white);
        color: var(--blue);
    }
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    padding: 16px 24px;
    z-index: 1;

    a {
        color: var(--black);
        text-decoration: none;
        padding-bottom: 16px;
    }
}

.main-page-1{
    background-color: var(--blue);
    padding: 2rem 2rem;
    text-align: center;
    align-items: center;
    
       
}

.main-page-1 > div{
    width: 40%;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    transform: translate( -25%, -30%);
    p span{
        color: yellow;
        font-weight: bold;
    }
    h2{
        font-size: 42px;
        color: var(--var(--white));
        width: 80%;
    }
    .legenda{
        color: var(--var(--white));
        font-size: 15px;
        transform: translate( 40%, 0%);
    }
}

.main-page-1 > div > img{
    width: 950px;
    transform: translate( -10%, 30%);
}


.yellow-button {
    background-color: yellow;
    color: var(--black); 
    padding: 10px 20px; 
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transições suaves a mudanças de cor e texto */
    
}

.blue-button {
    background-color: var(--blue);
    color: var(--white); 
    padding: 10px 20px; 
    border-radius: 5px;
    border-color: var(--var(--white));
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.yellow-button:hover {
    background-color: #f8f675;
    color: var(--black);
}

.blue-button:hover {
    background-color: #218fd8;
    color: var(--white);
}

.main-page-2{
    
    background-color: var(--var(--white));
    text-align: left;
    
}

.main-page-2 > div > div{
    display:inline-flex;
    
}

.main-page-2 > div > div > div{
    width: 30%;
    font-size: 20px;
    padding: 1rem 1rem;
    
}



.var(--white)-button{
    color: #060000;
    border-radius: 5px;
    padding: 10px 85px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--var(--white));
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.var(--white)-button:hover {
    background-color: #e6e4e4;
    color: #060000;
}






.main-page-4{
    background-color: #f2f1f1;
    padding: 2rem 2rem;
    text-align: left;
    font-size: 20px;
    height: 800px;
}

.main-page-4> div{
    
    display:inline-flex;
    width: 100%;
    align-items: center;
}

.main-page-4> div >div {
    
    width: 50%;
}

.main-page-4>div > div > img{
    
    height: 600px;
    padding: 2rem 2rem;
}

.main-page-4> div > button{
    transform: translate( 50%, 0%);

}

.main-page-5{
    background-color: #55aee9;
    padding: 2rem 2rem;
    text-align: center;
    color: var(--var(--white));


}

.main-page-5 > div{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    

}

.main-page-5 > div > button{
    padding: 10px 55px;
    color: var(--var(--white));
    border-radius: 5px;
    border-color: var(--var(--white));
    background-color: #55aee9;
    font-size: 20px;
    cursor: pointer;
}

.main-page-6 > div{
    width: 100%;
    display:inline-flex;
    text-align: center;
    font-size: 16px; 
    p span{
        color: var(--blue);
    }
   
}

.main-page-6 > div > div > div{
    width: 700px;
    text-align: left;
    padding: 1rem 1rem;
    
}
.main-page-6 > div > div > div > img{
    width: 100%;
    
}

.main-page-6 > div > div > div > div {
    width: 45%;
    display: inline-block;
    
    
    
}

.main-page-6 > div > div > div > div > img{
    width: 65%;
    
}

.main-page-6 > div > div > div > button{
    transform: translate( 50%, 0%);
}

.main-page-7{
    background-color: #2f333a;
    padding: 2rem 2rem;
    color: var(--var(--white));
    p span{
        color: yellow;
    }
}

.main-page-7 > div > div{
    
    display:inline-flex;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.main-page-7 > div > div > div{
    width: 100%;
    padding: 1rem 1rem;
}

.main-page-7 > div > div > div > img{
    width: 920px;
}

.main-page-7 > div > div > div > button{
    padding: 15px 95px;

}

.main-page-8{
    background-color: var(--var(--white));
    padding: 2rem 2rem;
    text-align: center;
    color: var(--var(--black));
        p span{
            font-weight: bold;
        }
}

.main-page-8 > div > img{
    width: 100%;
}

.main-page-8 > div{
    width: 40%;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    padding: 2rem 2rem;

}

.main-page-8 > div > button{
    font-size: 20px;  
          
}

.main-page-9 > div{
    
    display:inline-flex;
    text-align: left;
    font-size: 20px;
    padding: 2rem 2rem;

}

.main-page-9 > div > div{
    width: 30%;
    padding: 20px;
    P span{
        color: var(--blue);
        font-weight: bold
    }
}
  
.main-page-9 > div > div > img{
    width: 450px;
    
}
 
.main-page-10{
    background-color: #2f333a;
    padding: 2rem 2rem;
}

.main-page-10 > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.main-page-10 > div > div {
    text-align: left;
    font-size: 20px;
}

.main-page-10 > div > div > h2 {
    color: var(--var(--white));
}

.main-page-10 > div > div > p {
    color: var(--var(--white));
} 

.main-page-10 > div > div > a {
    color: var(--var(--white));
} 

.main-page-10 > div > div > button{
    color: var(--var(--white));
    background-color: #2f333a;
    border-color: var(--var(--white));
    border-radius: 5px;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-page-10 > div > div > div > img{
    width: 30px;
    align-items: center;
    padding: 2% 2%;
    
}

.main-page-10 > div > div > img{
    width: 250px;
    
}

@media screen and (max-width: --breakpoint-md) {
    .menu-button {
        display: block;
    }

    .top-banner {
        flex-direction: column;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--var(--white));
        color: var(--blue);
        display: none;
        flex-direction: column;
    }

    .nav--open {
        display: flex;
    }
    
    .nav-content {
        flex-direction: column;
        margin-left: 0px;
    }

    .nav-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 24px 24px 0px 0px;

        img {
            width: 32px;
        }
    }

    .dropdown {
        width: 100%;
        border-bottom: 1px solid lightgrey;

        &:first-child {
            border-top: 1px solid lightgrey;
        }
    }

    .dropdown-button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: var(--var(--white));
        color: var(--blue);
    }

    .dropdown:hover .dropdown-content{
        display: none;
    }
   
    .main-page-1 {
        padding: 0rem;
        width: 100%;
        
        
    }

    .main-page-1 > div {
        width: 90%; 
        text-align: center;
        font-size: 20px;
        transform: translate(0%, 0%);
        p span{
            font-size: 20px;
            transform: translate( 0%, 0%);
        }
        h2{
            font-size: 25px;
            
            width: 100%;
        }
        .legenda{
            
            font-size: 15px;
            transform: translate( 0%, 0%);
        }
    }

    .main-page-1 > div > img {
        width: 100%; 
        transform: translate(0, 0);
    }

    .main-page-2{
        width: 90%; 
        font-size: 15px;
        padding: 0.5rem 0.5rem;
    }
    
    .main-page-2 > div > div{
        display: inline-block;  
    }
    
    .main-page-2 > div > div > div{
        width: 100%;   
        padding: 0rem 0rem;
    }

    .main-page-4{
        height: auto;
        align-items: center;
    }

    .main-page-4 > div{
        display: grid;
        grid-template-rows: auto auto; /* Duas linhas, uma para cada div */
    }

    .main-page-4 > div > div > div{
        width: 100%;
        text-align: left;
        align-items: center;
        flex-direction: column-reverse;   
    }

    .main-page-4>div > div > img{
        height: auto;
        width: 215%;
        display: block;
        transform: translate(-10%, 0%);  
    }

    .main-page-4> div > button{
        padding: 10px 35px;
        font-size: 15px;
        display: block;
        transform: translate(0%, 0%);  
    }

    .main-page-6{
        width: 90%;         
    }

    .main-page-6 > div{
        display: grid;
    grid-template-rows: auto auto; /* Duas linhas, uma para cada div */
    }
    
    .main-page-6 > div > div > div{
        width: 100%;
        text-align: left;
        padding: 1rem 1rem;
        flex-direction: column-reverse;   
    }

    .main-page-6 > div > div > div > img{ 
        width: 100%;
        display: block;
    }
    
    .main-page-6 > div > div > div > div {
        width: 100%;
        font-size: 12px;
    }

    .main-page-6 > div > div > div > div > img {
        display: none;
        
        
    }
        
    .main-page-6 > div > div > div > button{
        transform: translate(0%, 0%);
    }

    
    .main-page-6 > div > img {
        width: 100%; 
        transform: translate(0, 0);
    }


    
    .main-page-7 > div > div{
        
        display:block;
        text-align: left;
        font-size: 16px;
        width: 100%;
        transform: translate(-5%, 0%);
    }
    
    .main-page-7 > div > div > div > img{
        width: 100%;
    }
    
    .main-page-7 > div > div > div > button{
        padding: 15px 100px;
        transform: translate(10%, 0%);
    }

    .main-page-8{
      
       transform: translate(-9%, 0%)
    }

    .main-page-8 > div{
        padding: 2rem 2rem;
        display:block;
        text-align: left;
        font-size: 16px;
        width: 105%;
    }

    .main-page-8 > div > img{
        width: 100%;
        align-items: left;
    }
    
    .main-page-9 > div{
    
        
        text-align: left;
        font-size: 20px;
        padding: 2rem 2rem;
        transform: translate(-5%, 0%);
        display: grid;
        grid-template-rows: auto auto auto; /*  linhas, uma para cada div */
    
    }
    
    .main-page-9 > div > div{
        width: 100%;
        padding: 20px;
        
    }
      
    .main-page-9 > div > div > img{
        width: 100%;
    }
    .main-page-10 > div {
        display: block;
    
    }
    
}
